@media screen and (max-width: 600px) {
  .vulantiar-banner {
    background-image: linear-gradient(
        rgba(247, 241, 241, 0.875),
        rgba(244, 240, 240, 0.886)
      ),
      url(../../../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
  }
}

@media screen and (min-width: 600px) {
  .vulantiar-banner {
    background-image: linear-gradient(
        rgba(247, 241, 241, 0.875),
        rgba(244, 240, 240, 0.886)
      ),
      url(../../../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
  }
}
